:root{
    --primary-color: #1d5888;
    --secondary-color: #35cf5b;
    --dark-color: #292929;
    --white-color: #dff3e4;
}

html, body {
    padding:0;
    margin:0;
    height:100%;
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}

.container {
    height: auto;
    height: 100%;
}

.h-80 {
    height: 80vh;
}

footer {
    background-color: var(--dark-color);
    position: fixed; bottom: 0; left: 0; right: 0;

}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

.bsicon {
    color:purple;
}

.codeBlock {
    overflow:scroll;
    height: 72vh;
}

.FizzBuzz {
    color: red;
    font-weight:bold;
}

.Fizz {
    color: rgb(183, 0, 255);
}

.Buzz {
    color: green;
}

.nonFizzBuzz {
    color: gray;
    opacity: 0.5;
}
.jsicon {
    color:rgb(226, 211, 4);
}

.html5icon {
    color:orangered;
}

.description {
    overflow:scroll;
    height:77vh;
    margin-bottom:auto;
}

.css3icon {
    color:rgb(11,82,214);
}

.checklist > li i {
    color: var(--secondary-color)
}

.hideMe {
    display: none;
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}

main>.container {
    padding: 30px 15px 0;
    margin-bottom: 5rem;
}

footer .social>a:hover{
    opacity: 0.90;
    color: var(--secondary-color)
}

@media only screen and (max-width: 600px) {
    .construct {
        height:fit-content;
        margin-bottom:10vh;
    }
    .footer {
        margin-top:auto;
        padding-top:1rem;
    }
    .description {
      height: 100vh;
      margin-bottom: 30px;
    }
  }